<!--
Ivan Rivas & Anthony Clayton
10/23/2021
CST-339-TR900A
Milestone 3
!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
											layout:decorate="layouts/defaultTemplate">
<head>
	<title>Login Page</title>
</head>
<body>
		
	<div layout:fragment="content">	
		<form action="#" th:action="@{/login/doLogin}" th:object="${loginModel}" method="POST">
		<div class="mb-3">
		<label style="font-family:cursive; font:300; padding:10px;">Username</label>
  		<input type="text" th:field="*{username}" style="height:30px; width:200px; outline:double;" id="username">
  		<h5 style="color:red; font-weight:900" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</h5>
	</div>
	
	<div class="mb-3">
		<label style="font-family:cursive; font:300; padding:10px;">Password</label>
  		<input type="password" th:field="*{password}" style="height:30px; width:200px; outline:double;" id="password">
  		<h5 style="color:red; font-weight:900" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</h5>
	</div>	
	<div align="center">
		<input type="submit" style="animation: hover; color:navajowhite; background:blue; width: 75px; height: 30px;" value="Submit"/>
	</div>
			<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
			<div th:each="err : ${#fields.errors('*')}">
				<span style="color:red" th:text="${err}" class="fieldError"></span>
			</div>	
		</form>
	</div>
	</body>
</html>